
   .body2{
        background-color:hsl(225, 100%, 94%);
        background-image:url('/home/sandrabest/source/swe-class/html/order-summary-component/images/pattern-background-desktop.svg');
        background-repeat:repeat-x;
        background-size:contain;
    }
    .parentblock2{
    width: 450px;
    height: 650px;
    margin-left:auto;
    margin-right:auto;
    background-color:white ;
    border-radius: 20px;
    margin-top: 15%;
}

.imagediv2{
    width: 400px;
    height: 220px;
}
.imagediv2 img{
    width: 450px;
    height: 220px;
    border-radius: 20px 20px 0px 0px;
  
}
.h4container{
    width: 450px;
    height: 60px;
    background-color:white;
    padding: 10px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.h4container h4{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: -50px 10px 30px 0px;
    color: hsl(223, 47%, 23%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}
.nowcontainer{
    width: 380px;
    height: 80px;
    background-color:white;
    padding ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  
}

.nowcontainer p{
    text-align: center;
    padding: -20px 50px 20px -10px;
    font-size: 20px;
    color: hsl(224, 23%, 55%);
}
.threepule{
background-color: hsl(225, 40%, 94%);
width:380px;
height:80px;
border-radius: 10px;/*to made the edge of the container round */
margin-left: auto;
margin-right: auto;
display: flex;
margin-top: 15px;
}
.imageicon_container{ /*continer that i placed the music icon*/
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 80px;
    height:80px;
    background-color: hsl(225, 40%, 94%);
    margin: 0px 0px 0px 25px;
}
    
    

.imageicon_container img{ 
   width:50px;
  
}
.annual_container{ /*This is for the container where i placed the paragraph with content annual container*/
    width: 100px;
    height:80px;
    background-color:hsl(225, 40%, 94%);
    display: flex;
    justify-content: center;
    align-items: center;

}
.annual_container p{ /*This attribute is just for the text inside the paragraph*/
    text-align: center;
    font-size: 14px;
    font-weight: bold;

}

.annual_container p span{
    color: gray;

}
.change{
    width: 100px;
    height:80px;
    background-color: hsl(225, 40%, 94%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;

}
.change a{
    font-size: 20px;
    padding: 10px 10px 10px 40px;
    

}
.proceed{

    background-color: hsl(245, 75%, 52%);
    width:380px;
    height:50px;
    border-radius: 10px;/*to made the edge of the container round */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    box-shadow: 0px 15px 40px 0px hsl(224, 23%, 55%); /* horizontal Vertical Blur Scatter */
}
.proceed p{
    color: white;
    font-weight: bold;
    color:  Bright blue: hsl(245, 75%, 52%);

}